@model FoodTrucksMenus.Data.Entities.Menu

@{
    ViewData["Title"] = "Detalles";
}
<div class="container mt-5">
    <h1>Detalles del Menu</h1>

    <div>
        <partial name="_MenuDetails" />
    </div>
 
    <div>
        <a asp-action="AddProduct" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Adicionar Productos</a>
        <a asp-controller="Truck" asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
    </div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Productos</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="ImagesTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MenuProducts.FirstOrDefault().Product.Cant)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MenuProducts.FirstOrDefault().Product.NameProd)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MenuProducts.FirstOrDefault().Product.Category.NameCat)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MenuProducts.FirstOrDefault().Product.PriceSale)
                                </th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MenuProducts)
                            {
                                <tr id="row_@item.Id">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.Cant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.NameProd)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.Category.NameCat)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.PriceSale)
                                    </td>
                                    <td>
                                        <a onclick="ConfirmDelete(@item.Id)" class="btn btn-outline-secondary"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Producto del menu inicio-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Eliminar Producto</h3>
            </div>
            <div class="modal-body">
                <h4>Estas seguro? Se eliminará este producto del tu Menu. </h4>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <!--<img src="~/Content/img/2xkV.gif" style="height:200px;width:200px" />-->
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-dark" data-dismiss="modal" onclick="CancelDelete()">Cancel</a>
                <a class="btn btn-outline-dark" onclick="DeleteMenu()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenProductMenu" />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ImagesTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            $('#CategoriesTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
        });
        var ConfirmDelete = function (Id) {
            $("#hiddenProductMenu").val(Id);
            $("#myModal").modal('show');
        }
        var DeleteMenu = function () {
            $("#loaderDiv").show();
            var Id = $("#hiddenProductMenu").val();
            $.ajax({
                type: "POST",
                url: "/Menus/DeleteProductMenu",
                data: { ProductMenuId: Id },
                success: function (result) {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    $("#row_" + Id).remove();
                },
                closed: function () {
                    $("#myModal").modal("hide");
                }
            })
        }
        var CancelDelete = function (hiddenProductMenu) {
            $("#myModal").modal("hide");

        }
    </script>
}